{% if parameter('WSETurboPlugin_host') %}
    <div class="d-block d-sm-none" style="top: 0;left: 0;width: 100%;padding: 10px;background-color: #0167F3;color: #fff;z-index: 9999;">
        <div class="container" style="max-width: 800px;">
            <div class="row g-1 align-items-center">
                <div class="col-10">
                    <b>{{ parameter('WSETurboPlugin_short_name', '') }}</b><br>
                    {{ parameter('WSETurboPlugin_prompt', 'Check out our mobile web app!') }}
                </div>
                <div class="col-2">
                    <a href="{{ parameter('WSETurboPlugin_host') }}" class="btn btn-sm w-100" style="background-color: #fff; color: #007bff;">{{ 'Open'|locale }}</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
